/* -------------------------------------
 * Utilities classes
 * ------------------------------------- */

.padded {
  padding-top: 10em;
  padding-bottom: 10em;
}

.bg-primary{
  background-color: #d9edf7;
}
