/* -------------------------------------
 * Utilities classes
 * ------------------------------------- */

.padded {
  padding-top: 10em;
  padding-bottom: 10em;
}

.bg-primary{
  background-color: #a0cfeb;
}

.fa-heart {
  font-size: 17px;
  margin-right: -12px;
  color: #95a5a6;
}

.fa-female {
  font-size: 17px;
  margin-right: -12px;
  color: #95a5a6;
}

.dropdown-menu .fa {
  font-size: 17px;
  margin-right: -12px;
}



#PHOTO

.photo {
  width: 300px;
}
