---
title: Mon parcours
---

<div class="bg-primary parcours-page text-center">
  <div class="container text-center">
    <div class="row">
      <h2>Candice Monteil</h2>
        <div class="col-xs-10 col-xs-offset-1 text-center">
        <h3>Pratiquante depuis 10 ans, je suis diplômée de <% link_to "http://www.academie-de-hatha-yoga-marseille.com/fr/" do %>l’Académie de Hatha Yoga de Marseille <% end %> depuis 2011, avec une vocation toujours plus forte pour la transmission.
        </h3>
        </div>
        <div class="col-xs-10 col-xs-offset-1 text-center">
          <%= image_tag('candice_profile.png', :class => "photo_contact" )  %>
        <h4>
          <span class="question">Pourquoi proposer des séances de Hatha Yoga ?</span><br>
        </h4>
        <h3>
          Le Hatha Yoga est un Yoga traditionnel enseigné en Occident depuis le XXème siècle et qui connaît un essor tout particulier depuis quelques années (3 millions de d’apprentis Yogis en France à ce jour). <br>Il répond à des problématiques de la vie moderne comme l’accélération des rythmes de vie et la recherche d’un équilibre corps-esprit.<br>
          Il s’agit d’un outil efficace pour éliminer le stress, booster la vitalité et retrouver le calme, qui se concrétise par un enchaînement de postures (āsana) et une discipline du souffle (prāṇāyāma). <br>
          Mes cours sont ouverts à tous, débutants ou confirmés et ont pour vocation d’agir tant sur le physique que le psychique pour conduire à un profond bien-être.
        </h3>
      </div>
    </div>
  </div>
  <div class="col-xs-10 col-xs-offset-1 text-center contact">
    <h2>Contactez moi</h2>
    <h3><i class="fa fa-phone"></i> +33 6 18 81 76 32</h3>
    <h3><i class="fa fa-envelope"></i> <a href="mailto:candice.monteil@gmail.com">candice.monteil@gmail.com</a></h3>
  </div>
</div>



