---
title: Candice Yoga
---

<div id="banner" class="smooth-scrollable">

  <div class="fade-and-slide">
    <h1>Candice Yoga</h1>
    <br>
    <p>Professeur de Hatha Yoga</p>
    <p>#</p>
    <br>
   <!--  <a href="#" data-toggle="modal" data-target="#subscribe-modal" class="btn-medium">Me contacter</a> -->
  </div>

  <a href="#description"><i class="fa fa-angle-down fa-6 pulse scroll-btn"></i></a>
</div>

<div class="bg-primary padded" id="description">
  <div class="container text-center" id="features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" data-sr="enter bottom and scale up 20% over 1s">
          <%= image_tag "lotus-position.svg" %>
          <h2>Natural writing</h2>
          <p>Don't change your habits, write with a pen <strong>on paper notebooks</strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" data-sr="enter bottom and scale up 20% over 1.5s">
          <%= image_tag "computer.svg" %>
          <h2>Sync. copy</h2>
          <p>Stylus instantaneously copy your text on your computer, <strong>in real-time</strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" data-sr="enter bottom and scale up 20% over 2s">
          <%= image_tag "analytics.svg" %>
          <h2>Analytics</h2>
          <p>Get feedbacks on the way you write, <strong>your favorite words, your frequent mistakes</strong></p>
        </div>
      </div>
    </div>
  </div>
  <a href="#newsletter"><i class="fa fa-angle-down fa-6 pulse scroll-btn"></i></a>
</div>

<div class="text-center padded smooth-scrollable" id="newsletter">
  <h2>Get news from stylus</h2>
  <p>Leave us your mail and get stylus news</p>
  <form class="form-inline">
    <input type="email" placeholder="bob@gmail.com" class="form-control">
    <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
  </form>
</div>

<div id="map" style="width: 100%;" class="smooth-scrollable"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(43.929721,4.994709000000057);

var myOptions = {
  zoom: 13,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2e5d4"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{"featureType":"road","elementType":"all","stylers":[{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]}]
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title:"You are here!"
});
</script>

<script>
$(function() {
  // Smooth scroll
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });

  // Scroll reveal
  window.sr = new scrollReveal();

});
</script>
