---
title: Kanda Yoga
---

<div id="banner" class="smooth-scrollable">

  <div class="fade-and-slide">
    <h1>Kanda Yoga</h1>
    <p>Professeur de Hatha Yoga et Ashtanga Yoga</p>
   <!--  <a href="#" data-toggle="modal" data-target="#subscribe-modal" class="btn-medium">Me contacter</a> -->
  </div>

  <a href="#description"><i class="fa fa-angle-down fa-6 pulse scroll-btn"></i></a>
</div>

<div class="bg-primary padded" id="description">
  <div class="container text-center" id="features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" data-sr="enter bottom and scale up 20% over 1s">
          <%= image_tag "lotus_position.png" %>
          <h2>Eliminer le stress</h2>
          <p>Une pratique régulière de yoga peut vous aider à rester calme et détendu dans la vie de tous les jours</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" data-sr="enter bottom and scale up 20% over 1.5s">
          <%= image_tag "meditation.png" %>
          <h2>Booster la vitalité</h2>
          <p>Il est important que votre énergie vitale circule de manière harmonieuse et équilibrée dans le corps</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" data-sr="enter bottom and scale up 20% over 2s">
          <%= image_tag "lotus.png" %>
          <h2>Retrouver le calme</h2>
          <p>Les postures et techniques respiratoires du yoga purifient votre énergie et améliorent votre quotidien</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="map" style="width: 100%;" class="smooth-scrollable">
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(43.929721,4.994709000000057);

var myOptions = {
  zoom: 11,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#fcfcfc"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#fcfcfc"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#dddddd"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#dddddd"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#eeeeee"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#dddddd"}]}]
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title:"You are here!"
});
</script>

<script>
$(function() {
  // Smooth scroll
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });

  // Scroll reveal
  window.sr = new scrollReveal();

});
</script>
