---
title: Mes Cours
---


<div class="wrapper-grey padded" >
  <div class="container" id="pricing">
  <h1 class="text-center">Mes cours</h1>
    <div class="row">
      <% data.pens.each do |owner, pen| %>
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: url('<%= image_path pen.picture %>');">
          <div class="card-description">
            <h2><%= pen.name %> </h2>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="wrapper-grey padded" >
  <div class="container" id="pricing">
  <h1 class="text-center">Mes cours</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: url('<%= image_tag "candice_hatha.JPG" %>');">
          <div class="card-description">
            <h2>Hatha Yoga</h2>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: url('<%= image_tag "candice_ashtanga.jpg" %>');">
          <div class="card-description">
            <h2>Asthanga Yoga</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



