---
title: Mes Cours
---

<div class="container" id="pricing">
  <div class="row">
    <h1>Mes cours</h1>
    <div class="col-xs-6">
      <div>
        <%= image_tag "candice_hatha.JPG", class:"photo"%>
      </div>
      <div>

      </div>
    </div>
    <div class="col-xs-6">
      <div >
        <%= image_tag "candice_ashtanga.jpg", class:"photo" %>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>
